{extend name="common/base" /}

{block name="main"}
<section>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>新建 配置项</legend>
    </fieldset>

    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">名</label>
            <div class="layui-input-block">
                <input type="text" name="key" lay-verify="required" autocomplete="off" placeholder="请输入配置名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">值</label>
            <div class="layui-input-block">
                <input type="text" name="value" lay-verify="required" placeholder="请输入配置值" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input type="checkbox" name="state" lay-skin="switch" lay-filter="switchTest">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</section>
{/block}


{block name="script"}
<script>
    ;(function() {
        var form = layui.form;
        var layer = layui.layer,
            $ = layui.jquery;
        //自定义验证规则
        form.verify({
            // pass: [
            //     /^[\S]{6,12}$/
            //     ,'密码必须6到12位，且不能出现空格'
            // ]
        });

        //监听提交
        form.on('submit(add)', function(data){
            console.log(data);

            $.ajax({
                url: "{:url('conf/add')}",
                method: 'POST',
                data: data.field,
                success: function (res) {
                    if (res.code == 1) {
                        layer.alert(res.msg ? res.msg : '操作成功', function(index){
                            //do something
                            layer.close(index);
                            location.href = res.url;
                        });

                    } else {

                        layer.msg(res.msg);
                    }
                }
            });

            return false;
        });
    })();
</script>
{/block}